[project]
	description = Unity3D sdk for wit.ai speech engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mohit Taneja (tanejamohit)
[access "refs/for/refs/*"]
	read = group user/Mohit Taneja (tanejamohit)
	push = group user/Mohit Taneja (tanejamohit)
	label-Code-Review = -2..+2 group user/Mohit Taneja (tanejamohit)
	label-Verified = -1..+1 group user/Mohit Taneja (tanejamohit)
	rebase = group user/Mohit Taneja (tanejamohit)
	removeReviewer = group user/Mohit Taneja (tanejamohit)
	submit = group user/Mohit Taneja (tanejamohit)
[access "refs/heads/*"]
	read = group user/Mohit Taneja (tanejamohit)
	create = group user/Mohit Taneja (tanejamohit)
	push = +force group user/Mohit Taneja (tanejamohit)
	pushMerge = group user/Mohit Taneja (tanejamohit)
[access "refs/tags/*"]
	push = +force group user/Mohit Taneja (tanejamohit)
	pushTag = group user/Mohit Taneja (tanejamohit)
	pushSignedTag = group user/Mohit Taneja (tanejamohit)
